body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f2f4f8;
}

.navbar {
    background: crimson;
    padding: 15px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 18px;
    font-size: 17px;
    border-radius: 8px;
    transition: 
        background-color 0.4s ease, 
        color 0.4s ease, 
        transform 0.3s ease;
}

.navbar a:hover {
    background: rgb(206, 66, 94);
    color: #fffde7;
    transform: scale(1.15);
}
